body {
    text-align: center;
    font-family: 'Crimson Text', serif;
    background-color: #262626;
    color: #c1c1c1;
}

#nameInput {
    margin: 20px;
}

#usernameInput {
    margin-left: 10px;
}

#percentageText {
    margin: 20px;
}

.label {
    fill: white;
}

img {
    border-radius: 50%;
}

#twitterProfile { 
    visibility: hidden; 
}

#twitterName { 
    visibility: hidden; 
}