body {
    text-align: center;
    font-family: 'Crimson Text', serif;
    background-color: #262626;
    color: #c1c1c1;
}

#nameInput {
    margin: 20px;
    width: 50%;
}

#inputbox {
    align-items: center;
}

#usernameInput {
    margin-left: 10px;
}

#percentageText {
    margin: 20px;
}

#subtext {
    font-size: 9px;
}

.label {
    fill: white;
}

img {
    border-radius: 50%;
}

#twitterProfile {
    visibility: hidden;
    margin: 20px;
}

#twitterName {
    visibility: hidden;
}

#stats {
    padding: 60px 0 60px 0;
}